body {
    background-color: #ffffff;
  
    margin: 0;
  }

  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;

  }
  ul.header {
    background-color: #f6ba65;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    width: 120px;
    text-align: center;
  }
  .content {
    height: 1000%;
    background-color: #FFF;
  
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }

  .header-common{
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 1220px;
    justify-content: center;
  }

  .logo{
    width: 40%;
  }

  .background-top{
  height: 100vh;
  width: 1425px;
  background-position-y: -50px;
    background-image: url('https://images.unsplash.com/photo-1523731407965-2430cd12f5e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  }

  .slog{
    font-size: 120px;
    text-align: center;
    color: #FFF;
    top: 20%;
    /* top: 10px; */
    position: relative;
  }